.App {
  position: relative;
  width: 100%;
}

/* Removed unused .App-header */

body {
  margin: 0;
  background-color: var(--color-brand-light);
  /* Match the Three.js clear color */
}

/* Text Stroke Utility */
.transparent-text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
}

.transparent-text-stroke:hover {
  -webkit-text-stroke: 1px var(--color-brand-primary);
  color: var(--color-brand-primary);
}