.App {
  position: relative;
  width: 100%;
}

/* Removed unused .App-header */

body {
  margin: 0;
  background-color: #e0e0e0;
  /* Match the Three.js clear color */
}

/* Text Stroke Utility */
.transparent-text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
}

.transparent-text-stroke:hover {
  -webkit-text-stroke: 1px #2d936c;
  color: #2d936c;
}